{% extends "base.html" %}


{% block content %}
<h2 style="text-align: center;" >{{ search | title }}</h2>



<div class="row">
{% for post in final_posting  %}
    
    <div class="col s4">
    <div class="card" style="height: 400px; overflow: hidden;">
        <div class="card-image" style="height: 250px; overflow: hidden;">
        <a href="{{post.1}}"><img src="{{post.3}}"> </a>
        <span class="card-title">{{post.0}}</span>
    </div>
    <div class="card-content">
        <p> {{post.0}} </p>
        </div>
        <div class="card-action">
            <a href=" {{post1}} ">Price is: {{post.2}}</a>
        </div>
    </div>
</div>
<!-- <hr> -->
{% endfor %}
</div>

<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-image" style="height: 250px; overflow: hidden;">
                <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2021/02/02/16122819032237.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}